* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header>h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 3rem;
    background-color: #867e69;
    color: white;
}

header>h2 {
    text-align: center;
    margin-top: 2rem;
}

header>p {
    text-align: center;
    padding: 1rem;
}

/* hr */

#thick {
    width: 95%;
    height: .5rem;
    background-color: black;
    margin: 0 auto;
}

#thin {
    width: 95%;
    background-color: black;
    margin: 0 auto;
}

#bottom {
    margin: 2rem 0;
    width: 95%;
    background-color: black;
}

/* Form/main */

fieldset {
    border: none;
    /*removes fieldset borders*/
}

form {
    margin-left: .5rem;
}

.contact legend {
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.3rem;
}

.contact label {
    display: block;
    padding: .8rem 0;
    font-size: 1.2rem;
    color: #73726c;
}

.contact input[type] {
    width: 95%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #edebe6;
}

.contact input[type]:focus {
    background-color: #add6f4;
    font-size: 1rem;
}

/* contact select/oiption */

.contact select {
    width: 95%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #edebe6;
}

.contact label[for="state"] {
    padding-bottom: 0;
}

/* -----contact select/option */

.contact input[id="zip"] {
    width: 40%;
}

/* ending contact CSS */


/*starting news/ format*/
.news>legend {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.news>label {
    display: inline-block;
    padding: .5rem 0;
}

.news label[id="letter"] {
    font-size: 1.2rem;
}

.news input[type],
.format input[type] {
    margin-right: .5rem;
}

.format>#format {
    font-size: 1.5rem;
}

.format label {
    display: inline-block;
    padding: .5rem 0;
}

.format label[for="other"] {
    font-size: 1.5rem;
}

.format>textarea {
    width: 95%;
    height: 5rem;
    font-size: 1rem;
}

/* button */
.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

button {
    padding: 1rem;
    background-color: #4CAF50;
}


/* footer */
footer {
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
}